@import './../styles.scss';
.sub-heading{
  font-size: 1.25rem;
  margin: 1rem 1rem 0;
  font-weight: bold;
  color: $primary-font-color;
  display: flex;
  justify-content: space-between;
}
.wrapper-col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .no-data{
    color: $primary-font-color;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0 0;
  }
  .link-list{
    color: $secondary-font-color;
    font-size: 1.25rem;
    margin: 0;
    a{
      color: $primary-font-color;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
}
.cart{
  display: flex;
  align-items: center;
  justify-content: center;
  
}